* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: Silver;
}

.h1 {
    font-size: 50px;
    font-weight: 800;
    font-family: "Roboto", sans-serif, "Times New Roman", Times, serif;
    text-align: center;
    text-decoration: none;
    color: Black;
}

.div {
    width: 50%;
    height: auto;
    border: 1px solid Black;
    margin: 50px auto;
}

.img {
    display: block;
    width: 100%;
}
